@import '../params';

.form {

    background-color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2rem;
    margin-top: 2rem;

    &__buttons {
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        margin-top: 2rem;
    }

    &__warning {
        color: rgb(253, 78, 78);
        display: none;
        font-size: 1.4rem;
        margin-right: 2rem;
    }

    &__button {
        &_save, &_cancel {
            color: white;
            font-weight: bold;
            margin-right: 1rem;
        }

        &_save {
            background-color: #2196F3;

            &:disabled {
                background-color: lighten($color: #2196F3, $amount: 25%);
            }
        }

        &_cancel {
            background-color: rgb(253, 78, 78);
        }
    }

    input, select {
        display: block;
        height: 3rem;
        width: 20rem;
        padding: 0.5rem;
    }

    &__chosen-card {
        color: white;
        background-color: #2196F3;
        width: max-content;
        display: flex;

        margin: 0.5rem 0;

        & > span {
            height: 3rem;
            width: 25rem;
            display: flex;
            align-items: center;
            padding: 0 0.5rem;

            &:first-child {
                background-color: $primary-color;
                
            }

            &:last-child {
                cursor: pointer;
                max-width: 3rem;
                // background-color: white;
                color: black;
                font-size: 2rem;
                justify-content: center;
                transform: rotate(45deg);
            }
        }
    }

    &__desc {
        margin-top: 2rem;
        
        input {
            width: 50rem;
        }
    }

    &__time {
        
        margin-top: 2rem;

        &-inputs {
            display: flex;

            input {
                width: 15rem;
            }
        }
    }

    &__user {
        margin-top: 2rem;
    }
}