@import '../params';

.workspace {
    width: 100%;
    padding: 1rem;

    &__container {
        padding: 1rem;
        box-shadow: 0 0 1rem gray;
        // border: 0.1rem solid $primary-color;
        // background-color: #DDFFFF;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    &__warning {
        color: rgb(253, 78, 78);
        display: none;
        font-size: 1.4rem;
    }

    &__button {
        &_create-task {
            background-color: #2196F3;
            color: white;
            font-weight: bold;
        }

    }

    // &__form {
    //     background-color: #fff;
    //     font-size: 1.4rem;
    //     font-weight: bold;
    //     padding: 2rem;
    //     margin-bottom: 2rem;

    //     input, select {
    //         display: block;
    //         height: 3rem;
    //         width: 20rem;
    //         padding: 0.5rem;
    //     }
    // }

    // .form {

    //     // &__cards-field {
            
    //     // }

    //     &__chosen-card {
    //         color: white;
    //         background-color: #2196F3;
    //         width: max-content;
    //         display: flex;

    //         margin: 0.5rem 0;

    //         & > span {
    //             height: 3rem;
    //             width: 25rem;
    //             display: flex;
    //             align-items: center;
    //             padding: 0 0.5rem;

    //             &:first-child {
    //                 background-color: $primary-color;
                    
    //             }

    //             &:last-child {
    //                 cursor: pointer;
    //                 max-width: 3rem;
    //                 // background-color: white;
    //                 color: black;
    //                 font-size: 2rem;
    //                 justify-content: center;
    //                 transform: rotate(45deg);
    //             }
    //         }
    //     }

    //     &__desc {
    //         margin-top: 2rem;
            
    //         input {
    //             width: 50rem;
    //         }
    //     }

    //     &__time {
            
    //         margin-top: 2rem;

    //         &-inputs {
    //             display: flex;

    //             input {
    //                 width: 15rem;
    //             }
    //         }
    //     }

    //     &__user {
    //         margin-top: 2rem;
    //     }
    // }
}
