@import './params';

.app {
    // background-color: red;
    height: 100vh;
    display: grid;
    grid-template-columns: 18% 82%;
    // grid-template-rows: 3% 97%;
    // align-items: flex-start;


    &__main {
        height: 100%;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    &__header {
        width: 100%;
        background-color: $primary-color;
        height: 6.8rem;
        display: flex;
        align-items: center;
        font-size: 3.6rem;
        text-transform: uppercase;
        color: white;
        padding-left: 2rem;
    }

}