@import '../params';

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    box-shadow: 0 0 1rem gray;
    z-index: 10;

    &__head {
        width: 100%;
        height: 6.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.6rem;
        text-transform: uppercase;
        border-bottom: 1px solid rgb(212, 212, 212);
    }

    &__list {
        

        &-item {
            border-bottom: 1px solid rgb(212, 212, 212);
            padding: 1.5rem;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                background-color: rgb(212, 212, 212);
            }
        }

        .active {
            background-color: $primary-color;
            color: white;
            font-weight: bold;
        }
    }
}