@import '../params';

.table {
    width: 100%;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;

    &__row {
        background-color: $primary-color;
        padding: 1rem;
        margin: 0.5rem 0;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;

    }

    &__server-name {
        // width: 20%;
        // padding: 1rem;
        font-weight: bolder;
        padding: 0.5rem;
        // margin: 1rem 0;
    }

    .active {
        background-color: #2196F3;
        border-color: #2196F3;
    }

    &__card {
        position: relative;
        
        padding: 0.5rem 0.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        cursor: pointer;
        border-radius: 1rem;

        &_free {
            border: 0.5rem solid $card-free-color;
            background-color: $card-free-color;
            // .card__bg {
            //     background-color: $card-free-color;
            // }
        }

        &_occupied {
            border: 0.5rem solid $card-occupied-color;
            background-color: $card-occupied-color;
            
        }

        &_inactive {
            border: 0.5rem solid $card-inactive-color;
            background-color: $card-inactive-color;
            // .card__bg {
            //     background-color: $card-inactive-color;
            // }
        }

        .card__bg {
            position: absolute;
            // width: 75%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .card__tooltip {
            display: none;
            position: absolute;
            width: 100%;
            height: max-content;
            padding: 1rem;
            background-color: rgb(46, 46, 46);
            bottom: 200%;
            left: 0;
            opacity: 0.9;
            z-index: 1;
            font-size: 1rem;
            line-height: 1.5rem;
            
            &::after {
                content: " ";
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: calc(100% - 1rem);
                left: calc(50% - 1rem);
                transform: rotate(45deg);
                background-color: rgb(46, 46, 46);
                z-index: -1;
            }
        }
    }
}
