@import '../params';

.processes {
    width: 100%;
    padding: 1rem;

    &__title {
        text-align: center;
        padding: 2rem 0 1rem 0;
        font-size: 2rem;
    }

    &__list {
        width: 100%;

        &-item {
            background-color: #F1F1F1;
            display: grid;
            grid-template-columns: 2fr 2fr 1fr 1fr 3rem 2rem;
            align-items: center;

            font-size: 1.5rem;
            padding: 1rem;
            margin-bottom: 0.5rem;

            &_head {
                background-color: $primary-color;
                color: white;
                font-weight: bold;
            }
        }
    }

    // &__edit {
    //     display: flex;
    //     align-items: center;

    //     background-color: red;
    // }

    &__delete, &__edit {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: rgb(77, 77, 77);
        i {
            cursor: pointer;
        }
    }
}